@import "bootstrap";
@import "./_variables.scss";
@import "./_bootswatch.scss";

// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

// @import "/node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

$bg-light: #46a2ff;

#catalogue{ 
  font-family: 'Asset', cursive !important;
  font-size: 2.5em;
  color: #e01405;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.welcome-txt .h3 {
  text-align: left;
  width: 960px;
  margin: 0 auto;
  padding: 0;
  font-size: 1.5em;
  font-family: 'Asset', cursive !important;
  color: #e01405;
  
}

.welcome-txt p.large {
  margin-top: 12px;
  margin-bottom: 8px;
}

p.large {
  font-size: 24px;
}

#cart_title {
  font-family: 'Asset', cursive !important;
  font-size: 1.5em;
  color: rgb(0, 140, 255);
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#details {
  width: 80%;
}

body{
  margin:0;
  padding:0;
  height:100%;
  background-image: url("{{asset('../../../../public/assets/imgs/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper{
  height:100%;
  
}

