html,
body {
    height: 100%;
    background-image: url("{{asset('../../../../assets/imgs/background_beige.jpg");
    background-position: center;
    background-size: cover;
}

#body {
    margin: 0;
    padding: 0;
    height: 100%;

    background-image: url("{{asset('../../../../assets/imgs/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 768px) {

    .home h1,
    .home .h1 {
        font-size: 80px !important;
        margin-bottom: -15px;
    }
}

.home h1,
.home .h1 {
    font-size: 50px;
    line-height: 1em;
    font-family: 'bebas_neuebold';
    font-weight: 400;
    text-transform: uppercase;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.flush-top {
    margin-top: 20px !important;
}
